@import "../common.scss";
@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

.howToApplyBox {
  padding: 56px 0 96px;
  position: relative;
  background-color: $light-green;
  @include mq(lg) {
    padding: 80px 0 96px;
  }
}
.titleBox {
  margin-bottom: 40px;
  text-align: center;
}
.titleText {
  background-color: $black;
  border-radius: 16px;
  color: $white;
  font-family: "Kaisei Opti", serif;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 32px;
  text-align: center;
}
.flowBox {
  @include mq(lg) {
    display: flex;
    justify-content: space-between;
  }
}
.flow {
  margin-bottom: 48px;
  padding: 32px;
  position: relative;
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  text-align: center;
  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: auto;
    right: auto;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 30px solid transparent;
    border-top: 38px solid $white;
    border-right: 30px solid transparent;
  }
  @include mq(lg) {
    padding: 20px;
    width: 32%;
    margin-bottom: 0;
    &::after {
      top: 50%;
      right: -15px;
      bottom: auto;
      left: auto;
      transform: translateY(-50%);
      border-left: 30px solid $white;
      border-top: 38px solid transparent;
      border-bottom: 38px solid transparent;
      border-right: 0;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-child(3) {
    &::after {
      border: 0;
    }
  }
}
.step {
  height: 86px;
  width: 86px;
  margin: 0 auto 24px;
  position: relative;
  border: 2px dashed $black;
  border-radius: 43px;
  text-align: center;
}
.stepContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
}
.stepText {
  display: inline-block;
  width: 100%;
  font-family: "Ropa Sans", sans-serif;
  font-size: 16px;
}
.stepNumber {
  display: inline-block;
  width: 100%;
  font-family: "Ropa Sans";
  font-size: 40px;
  line-height: 0.7;
}
.stepBodyText {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  @include mq(lg) {
    font-size: 17px;
  }
}
.flowImage {
  height: 148px;
  width: 148px;
  margin: 0 auto 40px;
  &.flowImage2 {
    width: 100%;
    height: auto;
  }
}
.buttonWrapper {
  margin-bottom: 24px;
}
.notes {
  width: 100%;
  text-align: left;
}
.notesMain {
  display: block;
  font-weight: bold;
  @include mq(md) {
    display: inline;
  }
}
.spbr {
  @include mq(md) {
    display: none;
  }
}
