@import "../common.scss";
.footerBox {
  width: 100%;
  background-color: $light-green;
  font-size: 0;
  text-align: center;
}
.footerImage {
  height: 48px;
  background-image: url("../../images/footer_image_sp.svg");
}
.footerContent {
  padding: 16px;
  width: 100%;
  background: $black;
}
.company {
  margin-bottom: 12px;
  color: $white;
  font-size: 10px;
}
.logoBox {
  width: 118px;
  margin: 0 auto;
}
