.rulesWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease;
  &.isOpen {
    opacity: 1;
    pointer-events: inherit;
  }
}

/* --- FOR TESER --- */
.teaserWrap {
  overflow: hidden;
}

// リンク（全般）設定
.footerLink {
  color: #fff;
  transition: 0.5s;
}
.footerLink:hover {
  color: #ff4765;
  text-decoration: none;
}

// ヘッダー
.header {
  height: calc(100vh - 64px);
  overflow: auto;
  position: relative;
  background: linear-gradient(-45deg, #fcee21, #22b573);
}

.header #logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ロゴ画像
.header #logo img {
  display: block;
  width: 50%;
  position: absolute;
}

// フッター設定
.footer {
  clear: both;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 10px;
  line-height: 64px;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
.footer a:hover {
  color: #fff;
}

// 画面幅800px以下の設定
@media screen and (max-width: 800px) {
  .header #logo img {
    display: block;
    position: absolute;
    width: 82%;
  }
}

// 画面幅480px以下の設定
@media screen and (max-width: 480px) {
  .header #logo img {
    width: 80%;
    display: block;
    position: absolute;
  }
}
