@import "../common.scss";
.postsBox {
  position: relative;
  padding: 56px 0;
}
.titleBox {
  margin-bottom: 40px;
  text-align: center;
}
.postSection {
  @include mq(md) {
    width: 864px;
  }
}
.text {
  margin-bottom: 48px;
  text-align: center;
}
.postBox {
  display: flex;
  flex-wrap: wrap;
}
.post {
  margin-right: 6%;
  margin-bottom: 48px;
  position: relative;
  width: 47%;
  cursor: pointer;

  @include mq(md) {
    width: 256px;
    margin-right: 24px;
  }
  @include mq(lg) {
    width: 31%;
    margin-right: 3.5%;
  }

  &:nth-child(2n) {
    margin-right: 0;
    @include mq(md) {
      margin-right: 24px;
    }
    @include mq(lg) {
      margin-right: 3.5%;
    }
  }
  &:nth-child(3n) {
    @include mq(md) {
      margin-right: 0;
    }
    @include mq(lg) {
      margin-right: 0;
    }
  }
}
.anotherIcon {
  height: 19px;
  width: 19px;
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: auto;
  left: auto;
  z-index: 10;

  & > div {
    height: 100%;
    width: 100%;
  }
}
.username {
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.postText {
  @include text-truncate(12, 1.7, 3, #fff);
  height: 60px;
  width: 100%;
  color: $grey;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@supports (-webkit-line-clamp: 3) {
  .postText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: "";
    }

    &::after {
      content: "";
    }
  }
}
