@import "../common.scss";

.buttonBox {
  text-align: center;
}
.button {
  max-width: 276px;
  margin: 0 auto;
  width: 100%;
  line-height: 48px;
  background-color: $green;
  border-radius: 4px;
  color: $white;
  font-size: 12px;
  text-align: center;
}
