@import "../common.scss";

.topImageBox {
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  transition: background-image 600ms ease;

  @include mq(md) {
    height: 700px;
  }
  @include mq(lg) {
    height: 100vh;
  }
}
.image {
  margin: 0 auto;
  max-width: 450px;
  padding: 0 24px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  @include mq(md) {
    top: 50%;
  }
  @include mq(lg) {
    height: 80vh;
    max-width: 82vh;
    padding-top: 20px;
  }
}
.photographer {
  position: absolute;
  right: 24px;
  bottom: 56px;
  color: $white;
  font-size: 12px;
}
.bgItemBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bgItem {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms ease;
  &.isActive {
    opacity: 1;
  }
  & > div {
    max-width: 105% !important;
    width: 105%;
  }
}
