@import "../common.scss";

.torikatakouzaBox {
  padding: 56px 0;
  position: relative;
}
.titleBox {
  margin-bottom: 40px;
  text-align: center;
}
.torikataSection {
  @include mq(lg) {
    width: 800px;
  }
}
.text {
  margin-bottom: 48px;
}
.youtubeContent {
  margin-bottom: 48px;
}
.movie {
  width: 100%;
  margin-bottom: 16px;
  background-color: $blue;
}
.title {
  text-align: center;
}
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
