@import "../common.scss";

.torikatakouzaBox {
  padding-bottom: 40px;
  position: relative;
}
.titleBox {
  margin-bottom: 40px;
  text-align: center;
}
.text {
  margin-bottom: 48px;
}
.youtubeContent {
  margin-bottom: 48px;
}
.movie {
  width: 100%;
  height: 170px;
  margin-bottom: 16px;
  background-color: $blue;
}
.title {
  text-align: center;
}
