@import "../common.scss";

.yushusakuhinBox {
  padding: 56px 0;
  position: relative;
  background-color: $light-green;
}
.titleBox {
  margin-bottom: 40px;
  text-align: center;
}
.ribonImage {
  margin-bottom: 24px;
}
.text {
  margin-bottom: 24px;
}
.calenderImageBox {
  text-align: center;
  @include mq(md) {
    margin: 0 auto 32px;
    width: 310px;
  }
}
.note {
  position: relative;
  top: -24px;
  color: $grey;
  font-size: 12px;
  text-align: center;
  @include mq(md) {
    top: -48px;
  }
}
