@import "./common.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  color: #3d3d3d;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 26px;
  @include mq(lg) {
    font-size: 16px;
    line-height: 30px;
  }
}

body {
  overflow-y: auto;
  &.isFixed {
    overflow-y: hidden;
  }
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  overflow: hidden;
}

section {
  padding: 0 24px;
  width: 100%;

  @include mq(md) {
    margin: 0 auto;
    width: 584px;
  }
  @include mq(lg) {
    margin: 0 auto;
    width: 948px;
  }
}

.a-link {
  text-decoration: underline;
}

.circleWrapper {
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
}
.namiBox {
  height: 34px;
  width: 101%;
  position: absolute;
  top: auto;
  bottom: 0;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  &.shiro {
    background-image: url("../images/naminami-shiro-sp.svg");
    @include mq(lg) {
      background-image: url("../images/naminami-shiro-lg.svg");
    }
  }
  &.midori {
    background-image: url("../images/naminami-midori-sp.svg");
    @include mq(lg) {
      background-image: url("../images/naminami-midori-lg.svg");
    }
  }
}
